h1{
    color: green;
    font-style: italic;
    text-shadow: #FC0 1px 0 10px;
    font-size: 300%;
}
body{
    background-color: rgb(209, 253, 252);
}
h3{
    color: white;
    border: ridge linear-gradient(90deg,blue white);
    background:linear-gradient(90deg,blue,rgb(0, 140, 255));
}
th{
    background-color: aqua;
}
