h1{
    color: white;
    background-color: black;
    font-family: fantasy;
    text-shadow: #FC0 1px 0 10px;
}
h2{
    border: solid darkorange;
    background-color: darkorange;
    background:linear-gradient(90deg, darkorange,yellow);

}
p em{
    font-weight: bold;
    color: red;
}
a:link{
    color: darkorange;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: aqua;
}
div#naiyou{
    display: grid;
	grid-template-columns: 1fr 1fr;
    padding: 5px;
}
div#naiyou > div {
	margin-left: 5px;
	background-color:#dfdfdf;
}
