h1{
    color: white;
    background:linear-gradient(90deg,rgb(123, 122, 120),white);
    text-shadow: #FC0 1px 0 10px;
}

h2{
    border: solid linear-gradient(90deg,blue white);
    color: white;
    background:linear-gradient(90deg,blue,rgb(0, 140, 255));

}
p em{
    font-weight: bold;
    color: red;
}
a:link{
    color: darkorange;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: aqua;
}
div.naiyou {
    display: grid;                      
    grid-template-columns: 2fr 2fr 2fr; 
    grid-auto-rows: 400px;
    grid-gap: 10px;                     
    width:100%;
}
body{
    background-color: rgb(209, 253, 252);
}